<%= form_with(model: model_resource_name) do |form| %>
  <% if singular_table_name.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2 class="alert-heading"><%= pluralize(singular_table_name.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>
      <ul class="list-unstyled">
        <% singular_table_name.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% attributes.each do |attribute| -%>
    <div class="mb-3">
      <% if attribute.password_digest? -%>
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control" %>

        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      <% else -%>
        <%= form.label attribute.column_name, class: "form-label" %>
        <% if attribute.field_type == "checkbox" -%>
          <%= form.check_box attribute.column_name, class: "form-check-input" %>
          <%= form.label attribute.column_name, class: "form-check-label" %>
        <% else -%>
          <%= form.send(attribute.field_type, attribute.column_name, class: "form-control") %>
        <% end -%>
      <% end -%>
    </div>
  <% end -%>

  <%= form.submit class: "btn btn-primary" %>

  <% if model_resource_name.persisted? %>
    <%= link_to "Cancel", model_resource_name, class: "text-muted ml-3" %>
  <% else %>
    <%= link_to "Cancel", "#{index_helper}_path", class: "text-muted ml-3" %>
  <% end %>
<% end %>