<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="flex-grow-1 font-weight-bold display-4"><%= singular_table_name.capitalize %></h1>

    <div class="d-flex flex-wrap">
      <%= link_to 'All ' + plural_table_name.capitalize, send("#{index_helper}_path"), class: "btn btn-link" %>
      <%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-primary" %>
    </div>
  </div>

  <ul class="list-unstyled text-dark">
    <% attributes.each do |attribute| %>
      <li class="mb-2">
        <p class="font-weight-bold"><%= attribute.human_name %>:</p>
        <p><%= @<%= singular_table_name %>.<%= attribute.name %> %></p>
      </li>
    <% end %>
  </ul>
</div>